[submodule "beatsaber-hook"]
	path = externbeatsaber-hook
	url = https://github.com/sc2ad/beatsaber-hook/
[submodule "questui"]
	path = extern/questui
	url = https://github.com/Calmly145/questui.git
[submodule "TwitchIRC"]
	path = extern/TwitchIRC
	url = https://github.com/Calmly145/TwitchIRC.git