[submodule "beatsaber-hook"]
	path = extern/beatsaber-hook
	url = https://github.com/darknight1050/beatsaber-hook.git
	branch = modSettings
[submodule "questui"]
	path = extern/questui
	url = https://github.com/darknight1050/questui
[submodule "TwitchIRC"]
	path = extern/TwitchIRC
	url = https://github.com/darknight1050/TwitchIRC.git
